name: Build

on:
  push:
    branches: 
      - master
  workflow_dispatch:

jobs:
  numpy-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
      - name: Get Python version
        run: python3 -V
      - name: Install dependencies
        run: pip install wheel setuptools
      - name: Run Build
        run: python3 setup.py bdist_wheel
      - name: upload wheel package
        uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: dist/